:root {
  --margin-padding: 2.4rem;
  --color-theme: #03303A;
  --color-theme-transparent: RGBA(3, 48, 58, .9);
  --color-white: #F6F8F9;
  --color-gray: #687a7e;
  --font-logo: 'Rubik Mono One', sans-serif;
  --font-family: 'Ruda', sans-serif;
  --border-rad: .5rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a,
a:link,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: currentColor;
}

.link-basic {
  color: currentColor;
}

.link-basic:hover {
  color: var(--color-gray);
}

body {
  font-family: 'Ruda', sans-serif;
  font-size: 1.6rem;
  color: var(--color-theme);
  background-color: var(--color-white);
  max-width: 1920px;
  margin: 0 auto;
}

.wrap {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: var(--margin-padding);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.header {
  overflow: hidden;
  height: calc(100vh - var(--margin-padding));
  max-height: 100%;
  max-width: 100%;
  width: 25vw;
  position: fixed;
  margin: var(--margin-padding);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .4s;
}

.logo {
  text-align: left;
  transition: transform 1s;
  transition-timing-function: ease-in-out;
  z-index: 100;
}

.header h1 {
  margin: 0;
  font-family: var(--font-logo);
  font-style: normal;
  font-weight: normal;
  font-size: clamp(2rem, 6vw, 9rem);
}

.header h2 {
  color: currentColor;
  font-size: clamp(1.4rem, 2vw, 4rem);
  margin-top: -1.6rem;
  padding-left: .5rem;
}

.bio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-white);
  display: grid;
  place-items: center;
  transform: translateX(-100rem);
  transition-timing-function: ease-in-out;
}

.bio__p {
  line-height: 1.4;
  padding-top: 1.4rem;
  font-size: clamp(1rem, 1.6rem, 2.3vh);
}

.navigation {
  width: 60%;
  position: absolute;
  bottom: 0;
  padding: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 100;
}

.link {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: var(--color-theme);
  font-weight: 900;
  transition: .25s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.link:hover,
.link--icon:hover {
  transform: scale(1.2);
  transition: transform .25s;
}

.icon-arrow {
  transform: rotate(180deg);
  transition: transform .4s 1s;
}

.grid {
  width: 100%;
  margin-left: calc(25vw + var(--margin-padding));
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  gap: var(--margin-padding);
  transition: all .4s linear;
}

.div-image {
  position: relative;
  height: 45vh;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all .25s;
}

.caption {
  position: absolute;
  display: inline-block;
  color: var(--color-white);
  padding: .6rem;
  background-color: var(--color-theme-transparent);
  top: 50%;
  left: 50%;
  border-radius: var(--border-rad);
  transform: translate(-50%, -50%);
  font-family: inherit;
  font-size: clamp(1.4rem, 1.5vw, 3rem);
  text-transform: uppercase;
  letter-spacing: .2rem;
  cursor: pointer;
  opacity: 0;
  transition: all .4s;
}

.div-image:hover .images {
  cursor: pointer;
  filter: opacity(.7);
}

.div-image:hover .caption {
  opacity: 1;
}

.popup {
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: var(--color-theme-transparent);
  -webkit-backdrop-filter: blur(.4rem);
  backdrop-filter: blur(.4rem);
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}


.popup__btn {
  position: fixed;
  z-index: 2000;
  top: var(--margin-padding);
  right: var(--margin-padding);
  height: 3rem;
  width: 3rem;
  background-color: var(--color-theme);
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 800;
  color: white;
}

.popup__btn span {
  cursor: pointer;
}

.popup__image {
  display: block;
  height: 95vh;
  width: 95vw;
  object-fit: contain;
}

.loading-anim {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  transform: translate(-50%, -50%);
  z-index: -100;
}

.loading-anim img {
  display: block;
  width: 100%;
}

/* // page info */
.wrap-info {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-theme);
  color: var(--color-white);

}

.info {
  max-width: 50ch;
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
  font-size: clamp(1rem, 1.6rem, 5vh);
  padding: 1rem;
}

.info p {
  margin: 1.4rem 0;
}

.center-text {
  text-align: center;
}

/* //////////////////////// MEDIA QUERIES ////////////////////*/

/* Breakpoints

/* 75em is 1200px */
@media only screen and (max-width:75em) {

  .header h2 {
    margin-top: -1rem;
  }

  .navigation {
    width: 75%;
  }
}

/* 980px is 61 em */
@media only screen and (max-width:61em) {

  .header {
    align-items: flex-start;
    width: 20vw;
  }

  .bio {
    height: 100vh;
  }

  .grid {
    margin-left: calc(20vw + var(--margin-padding));
  }

  .header h2 {
    margin-top: -1rem;
  }

  .navigation {
    width: 100%;
    margin-left: 0;
    padding-left: .1rem;
  }

  .bio__p {
    line-height: 1.2;
    /* font-size: 1.4rem; */
  }
}

/* 700px is 44 em */
@media only screen and (max-width:44em) {
  :root {
    --margin-padding: 1.2rem;
  }

  .header {
    width: 25vw;
  }

  .grid {
    margin-left: calc(25vw + var(--margin-padding));
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .div-image {
    height: 92vh;
  }

  .header h1 {
    font-size: 4rem;
  }

  .header h2 {
    font-size: 2rem;
    margin-top: -1rem;
  }

  .navigation {
    width: 100%;
    margin-left: 0;
    padding-left: .1rem;
  }

  .bio__p {
    line-height: 1.2;
    /* font-size: 1.4rem; */
  }
}



/* 575px is 61 em - mobile */
@media only screen and (max-width:36em) {


  .wrap {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
  }

  .header {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: var(--margin-padding);
    position: fixed;
    z-index: 100;
    background-color: var(--color-white);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .bio {
    position: fixed;
    top: 0;
    left: 0;
    /* padding-top: 12vh; */
    z-index: 10;
    width: 100vw;
    height: 100vh;
  }

  .bio__p {
    /* margin-top: -12vh; */
    line-height: 1.6;
    max-width: 50ch;
    padding: calc(2 *var(--margin-padding));
    padding-right: 4rem;
  }

  .navigation {
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.6rem;
    text-transform: uppercase;
  }

  .navigation img {
    height: 2rem;
  }

  .icon-arrow {
    height: 1.6em;
  }

  .icon-arrow {
    padding-top: 2px;
  }

  .grid {
    margin-left: 0;
    /* margin-top: 12vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .div-image {
    height: 80vh;
  }

  .caption {
    font-size: clamp(2rem, 2vw, 3rem);
  }
}

@media only screen and (max-height:36em) and (orientation:landscape) {
  .bio {
    align-items: flex-start;
    padding-top: 13.5vh;
  }

  .info {
    max-width: 60ch;
  }
}

/* //galaxy fold */
@media only screen and (max-height:18em) and (orientation:landscape) {
  .bio {
    /* align-items: flex-start; */
    padding-top: 10vh;
  }

  .logo h1 {
    font-size: 2.5rem;
  }

  .logo h2 {
    font-size: 1.4rem;
    margin-top: -.5rem;
    padding: 0;
  }

  .navigation {
    padding: 0 1rem 1rem 1rem;
  }

  .info {
    max-width: 70ch;
  }
}